body,html {
	background-color: #e3d5c2;
	padding: 0;
}
.nastenkaTitle {
	padding: 10pt;
	font-size: 16pt;
	font-weight:normal;
	background-color: #001627;
	box-shadow: 1px 1px 4pt rgba(0,0,0,0.4);
	position: relative;
	color: #fff;
}
.nastenkaTitleGoImg {
	position: absolute;
	width: 25pt;
	height: 25pt;
	right: 5pt;
	top: 5pt;
}
.nastenkaTitle.fastbutton-active {
	background-color: #66737d;
}
.noticeboardList {	
	position: relative;	
	color: rgb(59, 65, 70);
	padding: 0 5pt;
}
.noticeboardItem {
	display: block;	
	box-shadow: 0px 1px 2px  rgba(0,0,0,0.5);		
	background-color: #FFFDE7;
	margin: 10pt 0;
	position: relative;		
}

.noticeboardItem.fastbutton-active {
	outline: 2pt solid  #d9e5ee;
}

.noticeboardItem .titleContent {
	padding: 5pt 10pt;
	opacity: 0.7;
	font-size: 0.9em;
	position: relative;
}

.noticeboardItem .titleIcon {
	display: inline-block;
	background-color: #fff;
	border: 1pt solid rgba(0,0,0,0.2);
	border-radius: 50%;
	text-align: center;
	padding: 3pt;
	width: 18pt;
	height: 18pt;
	margin-right: 5pt;
	margin-left: -5pt;
}

.noticeboardItem .userIcon {
	width: 18pt;
	height: 18pt;
	vertical-align: middle;	
}

.noticeboardItem .titleMeno {
	display: inline-block;
	vertical-align: middle;
}


.noticeboardItem .titleDatum {
	display: block;
	position: absolute;
	right: 5pt;
	top: 8pt;
	text-align: right;
}

.noticeboardItem .textContent {
	padding: 5pt;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
}

.noticeboardMonthItem {
	margin: 20pt 0 10pt 0;
	font-size: 14pt;	
	text-align:left;
	font-weight: bold;	
	height: 14pt;
}

.noticeboardMonthItem:first-child {
	margin-top: 10pt;
}

.noticeboardDateItem {
	position: static;
	text-align: right;
	padding: 5pt 5pt;	
	text-align: left;
}
.noticeboardDateItem.mergeWithMonth {
	position: absolute;
	height: 0;	
	right:0;
}
.noticeboardDateItem .date {
	display: block;
	font-size:16pt;
	text-align: right;
}

.noticeboardDateItem .weekday {
	display: block;
	font-size:9pt;
	text-align: right;
}

.noticeboardDateItem.mergeWithMonth .date,.noticeboardDateItem.mergeWithMonth .weekday {
	position: relative;
	top: -34pt;
}

.noticeboard-attimg {
	padding: 0 5pt 10pt 5pt;
}
.noticeboard-attimg img {
	margin: 1pt;
	width: 90pt;
	height: 90pt;
}
.messageAttachementList {
	white-space:normal;
}
.messageAttachementList li {
	display: inline-block;
	padding: 3pt 8pt;
}