html {
	min-height: 100%;
}
body {
	padding: 0;	
	min-height: 100%;
}

ul.premiumPredmety {
	margin: 0 5px;
}

ul.premiumPredmety > li {
	display: inline-block;
	width: 200px;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 0px 2px rgba(44,112,163,0.2);
	margin: 0.5%;
	cursor: pointer;
	background-color: #fff;
	border-color: #999999;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

ul.premiumPredmety > li.fastbutton-active {
	background-color: #d9e5ee;
}

ul.premiumPredmety > li  .img {
	text-align: center;
	width: 100%;
	padding-bottom: 60%;	
	margin: 0px;
	border: 0px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

ul.premiumPredmety.zosity > li {
	border-color: #ccc;
}	
ul.premiumPredmety.zosity > li  .img {
	background-size: contain;
}

ul.premiumPredmety > li .title {
	padding: 5px 5px 0 5px;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

ul.premiumPredmety > li .subtitle {
	color: #999999;
	padding: 0 5px 5px 5px;
	font-size: 9pt;		
}

.premiumGroupTitle {
	margin: 0;
	padding: 2em 0.5em 1em 0.5em;
	color: #000000;
	text-transform: uppercase;
	display:block;
	font-size: 18pt;
	font-weight: bold;
}

.premiumGroupTitle:first-letter {
	font-size: 120%;
}

.premiumGroup:first-child .premiumGroupTitle {
	padding-top: 0.5em;
}

.kapitola-testy {
	margin: 0 5px;
}

.kapitola-testy > li {
	display: inline-block;	
	width: 250px;
	position: relative;
	margin: 0.5%;
	border: 1px solid #02A6CA;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.kapitola-testy > li > .img {
	width: 100%;
	padding-bottom: 88%;	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.kapitola-testy > li .test-title {
	display:block;	
	color: white;
	background-color: rgba(2,166,202,1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position:absolute;	
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px;
}

.kapitola-testy > li.fastbutton-active {
	border: 1px solid #0290b0;
}

.kapitola-testy > li.fastbutton-active .test-title {
	background-color: #0290b0;
}


.kapitola-testy > li.done {
	border: 1px solid #3CA52C;
}

.kapitola-testy > li.done .test-title {
	background-color: #3CA52C;
}


.kapitola-testy > li.disabled {	
	border: 1px solid #ccc;
}

.kapitola-testy > li.disabled .test-title {
	background-color: #ccc;
}

.kapitola-testy > li .test-subtitle {
	display:block;
	font-size: 11px;
	color: rgba(255,255,255,0.7);
}
.kapitola-nazov {	
	padding: 2em 0.5em 1em 0.5em;
	/*background-color: #eeeeee;*/
	/*border-top: 1px solid #D9E5EE;*/
	
}

.kapitola-nazov:first-child {
	padding-top: 0.5em;
}

.kapitola-nazov > .kapitola-cislo {
	color: #999999;
	display:block;
	font-size: 10pt;
}
.kapitola-nazov > .kapitola-text {
	color: #000000;
	display:block;
	font-size: 18pt;	
	text-transform: uppercase;	
}

.kapitola-text:first-letter {
	font-size: 120%;
}