.pripravyCelokTitle {
	padding: 1em 0.5em;
}
.pripravyCelokTitle > .kapitola {
	color: #3498DB;
	display:block;
	font-size: 10pt;
}
.pripravyCelokTitle > .celok {
	color: #2980B9;
	display:block;
	font-size: 16pt;	
}
.pripravyTemaTitle {
	background-color: #eeeeee;
	border-top: 1px solid #D9E5EE;
	border-bottom: 1px solid #D9E5EE;
	padding: 0.5em;
}
.pripravyList > li {
	border-bottom: 1px solid #D9E5EE;
	padding: 0.5em;
	position: relative;
}

.pripravyList > li.priprava-haveMoreDiv {
	
}

.pripravyList > li .priprava-moreDiv {	
	display: inline-block;
	padding: 0.4em 0.5em;
	padding-right: 2em;	
	/*background-color: #2a6ca0;
	border: 1px solid #163955;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	/*margin-left: 0.2em;*/
	/*color: #fff;
	border-radius: 0.2em;*/
}

.pripravyList > li .visibilityBtn {
	padding-right: 0.5em;
}

.pripravyList > li .visibilityBtn.fastbutton-active, .pripravyList > li .priprava-moreDiv.fastbutton-active {
	background-color: #d9e5ee;
}
	
.pripravyList > li.fastbutton-active {
	background-color: #d9e5ee;
}

.pripravyList > li .icon {
	width: 32px;
	height: 32px;
	vertical-align: middle;	
}
.pripravyList > li .obrazokThumbContainer {
	margin: 0 0.5em;
	text-align: center;
}
.pripravyList > li .obrazokThumb {
	max-width: 100%;
	max-height: 15em;
}
.pripravyList > li .icon-test {
	margin-right: 0.5em;
}

.pripravyList > li .pripravy-test-vysledky {
	position: absolute;
	right: 0;
	top:0;	
	padding: 0.5em 0.5em;
}
.pripravyList > li .pripravy-test-vysledky > b {
	display: inline-block;
	padding: 0.5em 0;
}

.pripravyList > li > .actions {
	text-align: right;
	font-size: 10pt;
	color: #6a7c8e;
	margin-top: 0.5em;
}

.pripravyList > li > .actions img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
}

.pripravyEditable {
	min-height: 10em;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #D9E5EE;
	border-radius: 0.5em;
	word-wrap: break-word;	
}

body {
	padding: 0;
}