html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {	
	font-family: verdana;
	color: #1A3551;
	background-color: #ffffff;
	font-size: 12pt;	
}

body {
	padding: 0 0.5em;
}

h1, h2, h3, h4 {
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}
b {
	font-weight: bold;
}
p {
	margin: 0.8em 0;
	line-height: 1.2em;
}
h1 {font-size: 20pt;}
h2 {font-size: 16pt;}
h3 {fint-size: 14pt;}
h4 {font-weight: bold; font-size: 12pt;}

.plainText ol,.plainText ul,.plainText dl
{
	*margin-right:0px;
	padding:0 40px;
}
.plainText ol {
	list-style-type: decimal;
}
.plainText ul {
	list-style-type: disc;
}
.plainText p {
	text-align: inherit;
}

.plainText p {
	margin: 0 0 1em 0;
}

.plainText p:last-child {
	margin: 0;
}

.formTitle {
	background-color: #eeeeee;
	margin: 0.5em -0.5em;
	border-top: 1px solid #D9E5EE;
	border-bottom: 1px solid #D9E5EE;
	padding: 0.7em 0.5em;
}

.formTitle:first-child {
	margin-top: 0;
}

.formSubtitle {
	padding: 0 0.5em 0.5em 0.5em;
	color: #6a7c8e;
	margin: 0.5em -0.5em;
	border-bottom: 1px solid #D9E5EE;
	font-size: 10pt;
	text-align: right;
}
.form > li > .label {
	display: inline-block;
	width: 40%;
	padding: 0.2em 0.2em 0.2em 0;
	box-sizing: border-box;
}

.form > li > .value {
	display: inline-block;
	width: 60%;
	padding: 0.2em;
	box-sizing: border-box;
}

.form textarea, .form input[type="text"], .form input[type="number"], .form input[type="email"], .form select {
	border: 1px solid #e0e0e0;
	padding: 0.7em;
	vertical-align: middle;
}

.form .fullwidth {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.ascButton {
	display: inline-block;
	background-color: #2a6ca0; 
	border: 1px solid #163955;
	border-radius: 4px;
	color: #ffffff;
	padding: 0.8em;
	text-align: center;
	margin: 0.5em;
	text-decoration: none;
}
.ascButton.fastbutton-active {
	background-color: #5c9fd5;
}

.ascBigButton {
	padding: 1.6em 0.8em;
}

.fastbutton {
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.block {
	display: block !important;	
}

.ascBox {
	padding: 0.4em;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0.4em;
}

.ascBox.greenBox {
	background-color: #2ecc71;
	color: #ffffff;
}

.ascBox.orangeBox {
	background-color: #D35400;
	color: #ffffff;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoLink {
	display: block;
	text-align: center;
	position: relative;
}

.videoLink img {
	max-width: 100%;	
}
.videoLink .playDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}
